<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style type="text/css">
            .content{
                margin-top: 5rem;
                padding-bottom: 50px;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="content" align="center">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
